#contentGen{
    background-color: #39bab5;
}
#divHeader{
    margin-top: 0px;
    margin-bottom: 20px;
    border-style: inherit;
    border-width: medium;
    background-image: url("../img/listaprodbis.jpg");
    width: auto;
    height: 7vw;
    
}
.nombrePrincipal{
    font-size: 5vw;
    color: #39bab5;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    text-shadow: 3px 2px black;
    font-style: italic;
    text-align: center;
}