#capsulaDiv {
  width: 75%;
  border-style: inherit;
  border-width: medium;
}

.addCesta {
  float: right;
  text-align: center;
  color: #39bab5;
}

.nombreProducto {
  border-bottom: solid;
  border-width: medium;
  margin-left: 40px;
  margin-right: 40px;
}

.imgProd {
  height: auto;
  max-width: 330px;
}

.grid-container {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  background-color: #2196F3;
  padding: 3px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: left;
}

.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.oculto {
  display: none;
}