body{
  background-color: rgba(57, 186, 181, 0.1);
}

#capsulaDiv {
  width: 100%;
  border-style: inherit;
  border-width: medium;
}

.addCesta {
  float: right;
  text-align: center;
  color: #39bab5;
}

.nombreProducto {
  border-bottom: solid;
  border-width: medium;
  margin-left: 5vw;
  margin-right: 5vw;
}

.imgProd {
  margin-left: 1.4vw;
  height: 6vw;
  max-width: 10vw;
}
.gridGeneral{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 75% 25%;
  background-color: #9BB4E9;
  padding: 0.2vw;
}
.grid-container {
  width: 70%;
  margin-left: 15vw;
  display: grid;
  grid-template-columns: 35% 35% 15%;
  background-color: #9BB4E9;
  padding: 0.5vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.01vw solid rgba(63, 62, 62, 0.8);
  padding: 0.5vw;
  font-size: 1.4vw;
  text-align: left;
}
.nmbtxt{
  font-size: 1.2vw;
  font-weight: bold;
  font-family: Arial,sans-serif;
  word-spacing: 0.4vw;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 4;
}
.itemDinero{
  font-size: 1.4vw; 
  color: #001d1c;
}
.oculto {
  display: none;
}

.cestaImpostor{
  border-left: black;
  border: 0.1vw solid;
  background-color: white;
  width: 80%;
  height: 100%;
}
.listaCompra{
  text-decoration: underline overline wavy #39bab5;
  margin-left: 1vw;
  margin-top: 0.8vw;
  font-size: 2vw;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;  
}

.btnMenu{
  background-color: #1ba6a1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.1vw;
  opacity: 0.9;
  text-align: center;
  font-size: 1vw;
  height: 3vw;
  margin-top: 0.1vw;
  margin-right: 40vw;
  margin-left: 54.5vw;
  margin-bottom: 2vw;
  width: 15vw;
  color: white;
}

.btnMenu:hover{
  opacity: 1;
}

.myHtmlSelectBox{
  text-align: center;
  text-align-last:center;

  padding-right: 5vw;
  position: relative;
  direction: initial;
  border: 3em, black;
  background-color: #DEDEDE;
  font-size: 1vw;
  height: 3vw;
  padding: 0.7vw;
  width: 10vw;
  display: block;
  margin: 0 auto;
  
}

.list-group-item{
  font-size: 1vw;
  border: none;
  text-align: left;
  align-content: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  display: list-item;
}
.btnCarrito{
  background-color: #39bab5;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 0.4vw 0.1vw;
  padding: 0.1vw 0.6vw;
  cursor: pointer;
}
.fontNormal{
  font-weight: normal !important;
}