#capsulaDiv {
  width: 100%;
  border-style: inherit;
  border-width: medium;
  background-color: #6D8FD7;
}

.addCesta {
  float: right;
  text-align: center;
  color: #39bab5;
}

.nombreProducto {
  border-bottom: solid;
  border-width: medium;
  margin-left: 5vw;
  margin-right: 5vw;
}

.imgProd {
  margin-left: 3vw;
  height: 6vw;
  max-width: 10vw;
}

.grid-container {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: 35% 35% 30%;
  background-color: #9BB4E9;
  padding: 0.5vw;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.1vw solid rgba(0, 0, 0, 0.8);
  padding: 0.5vw;
  font-size: 1.4vw;
  text-align: left;
}
.nmbtxt{
  font-size: 1.2vw;
  font-weight: bold;
  font-family: Arial,sans-serif;
  word-spacing: 0.4vw;
}
.item1 {
  grid-row-start: 1;
  grid-row-end: 3;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.oculto {
  display: none;
}

.btnMenu{
  background-color: #1ba6a1;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.1vw;
  opacity: 0.9;
  text-align: center;
  font-size: 2vw;
  height: 4vw;
  margin-top: 1%;
  margin-right: 40%;
  margin-left: 45%;
  margin-bottom: 2vw;
  width: 30%;
  color: white;
}

.btnMenu:hover{
  opacity: 1;
}

.myHtmlSelectBox{
  text-align-last:center;
  padding-right: 5vw;
  background: white;
  border: black;
  font-size: 1vw;
  height: 3vw;
  padding: 0.5vw;
  width: 10vw;
}